#container div{
    display: inline-block;
    padding: 0 15px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    color: white;
    background-color: #ba3f3f;
    margin: 10px 10px 0 0;
}

input[value="右侧入"]{
    margin-right: 20px;
}