*{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 10px;
}

.row div{
    height: 50px;
    background: #eee;
    border: 1px solid #999;
    box-sizing: border-box;
    margin: 10px;
    float: left;
}

@media (min-width: 769px) {
    .col-md-4{
        width: calc(100%/3 - 20px);
    }

    .col-md-3{
        width: calc(100%/4 - 20px);
    }

    .col-md-6{
        width: calc(100%/2 - 20px);
    }

    .col-md-2{
        width: calc(100%/6 - 20px);
    }

    .col-md-1{
        width: calc(100%/12 - 20px);
    }
}

@media (max-width: 768px) {
    .col-sm-6{
        width: calc(100%/2 - 20px);
    }

    .col-sm-12{
        width: calc(100% - 20px);
    }

    .col-sm-3{
        width: calc(100%/4 - 20px);
    }

    .col-sm-2{
        width: calc(100%/6 - 20px);
    }

    .col-sm-8{
        width: calc(100%/3*2 - 20px);
    }
}

.clearfix::after{
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
